@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --PRIMARY-BG-CLR: #262626;
  --LIGHT-PR-BG-CLR: rgba(35, 35, 35, 0.8);
  --ACCENT-CLR: #ca630e;
  --PRI-LINK-CLR: #eec344;
  --SEC-LINK-CLR: #76b43ce0;

  /* FONTS */
  --PARAGRAPH-CLR: #8b8b8b;
  --HEADLINE-CLR: #030303;
  --PRIMARY-CLR: #eec344;
  --SECONDARY-CLR: #d07016;

  --PRI-FONT-FAMILY: "Open Sans", sans-serif;
  --HEADER-FONTS: "Montserrat", sans-serif;
}

.sub-header {
  background-color: rgb(20, 20, 20);
  height: 56px;
  border-bottom: 1px solid var(--HEADLINE-CLR);
}
.sub-header .buy-now {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  float: right;
}

.sub-header .buy-now a {
  text-decoration: none;
  color: white;
  background-color: var(--SEC-LINK-CLR);
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 0.875rem;
  box-shadow: 0 2px 0 #56911fe0;
  font-family: Arial, Helvetica, sans-serif;
}

.sub-header .buy-now a:hover {
  background-color: #69ad29e3;
}

.sub-header-header2 {
  display: flex;
  border-bottom: none;
  font-family: var(--PRI-FONT-FAMILY);
  font-size: 0.79rem;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(20, 20, 20);
  height: 56px;
}

.sub-header-header2 .address-section,
.office-hrs-socials-block {
  display: flex;
  flex-wrap: wrap;
  color: white;
  gap: 24px;
}

.sub-header-header2 .address-section .address address {
  font-style: normal;
}

.sub-header-header2 .address-section .email a {
  text-decoration: none;
  color: white;
  font-family: var(--PRI-FONT-FAMILY);
}
.sub-header-header2 .address-section .email a:hover {
  color: var(--SECONDARY-CLR);
}

.sub-header-header2 .address-section .email .fa-envelope,
.sub-header-header2 .address-section .address .fa-location-dot,
.sub-header-header2 .office-hrs-socials-block .office-section .fa-clock {
  margin-right: 10px;
  color: white;
}

.sub-header-header2 .address-section .email .fa-envelope {
  font-size: 0.9rem;
  color: white;
}

.sub-header-header2 .office-hrs-socials-block .social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.sub-header-header2 .office-hrs-socials-block .get-quote a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  font-family: var(--PRI-FONT-FAMILY);
  background-color: var(--ACCENT-CLR);
  padding: 6px 26px;
  border-radius: 3px;
  letter-spacing: 1.7px;
}

.sub-header-header2 .office-hrs-socials-block .get-quote a:hover {
  background-color: var(--PRIMARY-CLR);
  color: black;
  transition: all 0.2s ease-out;
}

.primary-header {
  background-color: white;
}

.primary-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 8%;
}

.primary-header .logo {
  width: 200px;
}

.primary-header .logo img {
  width: 100%;
}

.primary-header ul li {
  list-style: none;
  display: inline-block;
  margin-right: 34px;
}

.primary-header ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: var(--PRI-FONT-FAMILY);
  font-size: 0.9rem;
  font-weight: 600;
}

/* HAMBURGER MENU */
.hamburger-menu {
  width: 30px;
  height: 20px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  display: none;
}

.hamburger-menu .top,
.hamburger-menu .middle,
.hamburger-menu .bottom {
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: rgb(253, 185, 107);
  transition: all 0.2s ease-in-out;
}

.hamburger-menu.opened .middle {
  display: none;
}

.hamburger-menu.opened .top {
  transform: rotate(40deg) translate(3px, 4px);
}

.hamburger-menu.opened .bottom {
  transform: rotate(-40deg) translate(3px, -4px);
}

.bg {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.35)),
    url(IMAGES/blog-thumb-1.jpg) center/cover no-repeat;
  min-height: 450px;
  /* z-index: 5; */
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border: gold;
  background-color: gold;
}

.bg .intro-1 .bold {
  font-size: 40px;
  max-width: 700px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 60px;
  border-left: 8px solid rgb(255, 204, 0);
  padding: 0 30px;
}

.bg .intro-1 .paragraph {
  color: rgba(235, 229, 229, 0.849);
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0 30px;
  margin-block: 24px;
}

.bg .intro-1 .request-quote {
  margin-top: 50px;
}

.bg .intro-1 .request-quote a {
  border-color: rgb(255, 204, 0);
  border-style: solid;
  border-width: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 15px 55px;
  color: #ffcc00;
  text-decoration: none;
}
.bg .intro-1 .request-quote a:hover {
  background-color: rgb(255, 204, 0);
  color: black;
}

.bg .intro-2 {
  padding: 0 30px;
  color: white;
  opacity: 0.5;
}
.bg .intro-2 h3,
p :hover {
  opacity: 1;
  transition: 0.3s ease-in-out 0.6s all;
}

.bg .intro-2 .more h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-block: 10px;
}

.bg .intro-2 .more p {
  font-size: 17px;
  font-weight: 500;
  color: #ffcc00;
  line-height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.home-feature {
  background-color: #edf2f4;
  padding: 80px 0px;
}
.home-feature .container {
  display: flex;
  flex-wrap: wrap;
  /* display: grid; */
  gap: 20px;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 250px)); */
  /* padding: 30px 250px; */
  align-items: center;
  justify-content: center;
}

.home-feature .container .card {
  text-align: center;
  background: #fff;
  padding: 30px 40px;
  border-radius: 5px;
  align-items: center;
  /* margin-right: 2%; */
}

.container .card h4 {
  text-transform: capitalize;
  font-family: sans-serif;
  line-height: 25px;
}

/* .container .card p{
    text-transform: capitalize;
    color: #8b8b8b;
   } */

/* .home-feature .container .card img{
     height: 70px;
     width: 70px;
     
   }

   .container-2 .part-1 img{
     padding: 80px 120px;
     width: 85%;
    
   } */

.container-2 {
  display: flex;
  /* flex-wrap: wrap; */
  padding: 80px 80px;
  gap: 30px;
}

/* .container-2 .part-2{
    
    width: 70%;
    min-width: 100px;

    
   }  */

.container-2 .part-2 h5.subtitle {
  color: #a3b0b4;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0px;
  max-width: 50%;
  font-family: sans-serif;
  line-height: 25px;
}

.container-2 .part-2 h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 35px;
  line-height: 40px;
}

.container-2 .part-2 p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: #8b8b8b;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-2.part-2.shape-rectangle {
  margin-top: 30px;
}

.rectangle {
  display: flex;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  padding: 15px;
}

.shape-rectangle .rectangle {
  box-shadow: 0 0 11px 0 rgb(6 22 58 / 14%);
  /* padding: 15px; */
  margin-bottom: 20px;
  width: 350px;
}

.shape-rectangle .rectangle img {
  width: 60px;
}

.shape-rectangle .rectangle h5 {
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 2px;
}

.shape-rectangle .rectangle p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0px;
}
.body {
  padding: 5px 7px;
}

.empty {
  display: flex;
  /* flex-wrap: wrap; */
}

.empty .section-1 {
  /* background-image: url(images/portrait5.jpg); */
  /* height: 600px; */
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  position: relative;
  /* z-index: 1; */
}

.empty .section-2 {
  background-color: #232323;
  height: 90%;
  margin-top: 80px;
  margin-left: -80px;
  z-index: 1;
  position: relative;
  min-height:300px;
}

.section-2 .content {
  top: 50%;
  padding: 0px 80px;
  width: 95%;
  margin-block: 70px;
}

.content h5 {
  color: #d07016;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 35px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.content h2 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 42px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.content p {
  color: #8b8b8b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 0 15px;
  font-size: 15px;
}

.block-layer {
  display: flex;
  /* flex-wrap: wrap; */
}

.block-inner {
  margin-right: 20px;
}

.block-inner img {
  width: 20%;
}

.block-inner h5 {
  color: white;
}

.service-layer {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.35)),
    url(images/agros-img-23.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -330px;
  /* padding: 160px 0px 500px; */
  min-height: 100px;
  height: 50%;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -140px;
  /* padding: 160px 0px 80px; */
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  padding: 10% 10%;
}

.box-service {
  text-align: center;
  padding: 50px 30px;
  margin: 15px 0px;
  background-color: rgba(35, 35, 35, 0.8);
  justify-content: space-around;
}

.box-service h4 {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 10px;
  font-size: 20px;
  line-height: 25px;
}

.box-service img {
  width: 20%;
}

.box-service p {
  color: #fff;
  margin-bottom: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.box-service:hover {
  background-color: rgb(255, 204, 0);
  color: black;
}

.our-team {
  max-width: 60%;
  text-align: center;
  margin: auto auto 40px auto;
  padding: 80px 30px;
}

.our-team h2 {
  text-align: center;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 35px;
  line-height: 42px;
}

.our-team p {
  font: 1em sans-serif;
  text-align: center;
  color: #8b8b8b;
  margin: 0 0 15px;
  line-height: 25px;
  font-size: 18px;
}

/* -----------------------------------wahala wahala start----------------------------------------- */
.profile-section {
  /* padding: 4rem 8rem; */
}
.section-title {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  margin-bottom: 50px;
  font-size: 25px;
}
.section-title p {
  color: #8b8b8b;
  font-size: 18px;
}

.team-carousel {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* .team-carousel .profile-container img{
width: 100%;
} */

.team-carousel .profile-container .profile-image {
  position: relative;
}
.carouse {
  display: flex;
  padding: 0 15px;
  justify-content: center;
  gap: 30px;
  height: 600px;
}
.carouse-countainer img {
  width: 100%;
}
.carouse-countainer {
  height: 550px;
  width: 370px;
  background-color: #edf2f4;
}

.carouse-countainer h3,
.carousel-text {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 25px;
  /* margin-bottom: 60px; */
}
.carouse-countainer h3 {
  font-size: 30px;
}
.social-link {
  margin-top: -15%;
  margin-left: 30%;
}

.social-link a {
  display: inline-block;
  padding: 15px 15px;
  background-color: #d07016;
  gap: 20px;
  margin: 6px;
}
.carousel-caption {
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: center;
  align-items: center;
}

/* .team-carousel .profile-container .profile-image .socials{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
transform: translateX(-50%);
} */
/* .profile-image .socials{
  list-style: none;
}
.profile-image .socials li a{
  background-color: #ca630e;
  padding: 8px;
}

.profile-image .socials li a{
  text-decoration: none;
  color: white;
} */
/* ----------------------------wahala wahala stop-------------------------------- */

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.testimonial-layer {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.35)),
    url(images/agros-img-23.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 min-height:650px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  /* padding: 100px 0px 80px; */
}

.testimonial-box {
  background-color: rgba(35, 35, 35, 0.9);
  padding: 25px;
  margin: 0px 15px;
  border-radius: 5px;
}

.testimonial-box img {
  border-radius: 50%;
  width: 60px;
  border: solid 2px #fff;
}

.testimonial-box p {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.testimonial-box hr {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 25px 0px;
}

.testimonial-box .media {
  display: flex;
  flex-wrap: wrap;
}

.testimonial-box .fas {
  font-size: 30px;
  color: #ca630e;
  margin-bottom: 10px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

.media .media-body {
  padding: 10px 20px;
}

.media-body h5 {
  font-size: 18px;
  color: #ca630e;
  margin-bottom: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
}

.media-body p {
  font-size: 15px;
  margin-bottom: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}

.score-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem !important;
}

.score-block .counter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 50px;
  align-items: center;
  /* padding-bottom: 50px;  */
}

.counter img {
  width: 50%;
  align-content: center;
}

.score-block .counter h2 {
  font-size: 35px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.score-block .counter h4 {
  font-size: 15px;
  color: #fff;
  line-height: 18px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}

.recent-container {
  /* margin-bottom: 5rem !important; */
  /* margin-top: 5rem !important; */
  /* max-width: 1140px; */
  min-height: 600px;
  width: 100%;
  padding: 0 6%;
  /* padding-left: 15px; */
  /* margin-right: auto; */
  margin-left: auto;
}
/* .recent-title{
  margin-top: 30;
} */
.admin-card {
  width: 370px;
  box-shadow: 0 0 11px 0 rgb(6, 22, 58, 14%);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 20px;

  /* position: relative; */
}
.fruit-image img {
  width: 100px !important;
}

/* .fruit-image  img{
  margin-right:-50px !important ;
   height:35%; 
   /* display: block; */
/* text-align: center;
} */
.recent-container {
  display: flex;
  gap: 10px;
}
.image-name {
  display: flex;
  gap: 20px;
}
.image-name img {
  border-radius: 100%;
}
.recent-title {
  max-width: 60%;
  text-align: center;
  margin: auto auto 40px auto;
  padding: 0px 30px;
}

.recent-title h2 {
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 10px;
  font-size: 35px;
  line-height: 42px;
  font-weight: 700;
}

.recent-title p {
  font-size: 17px;
  margin: 0 0 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #8b8b8b;
}

.news-carousel {
  display: flex;
  position: relative;
}
.recent-post-box {
  height: 400px;
  width: 370px;
}
.carousel-image img {
  display: block;
}
.rp-caption img {
  /* display: block; */
  width: 100%;
  /* padding: 25px; */
  /* margin-top: -35px; */
}

.rp-caption {
  background-color: #fff;
  padding: 25px;
  box-shadow: 0 0 11px 0 rgb(6 22 58 / 14%);
  margin: 15px;
}

.rp-media {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 25px;
}

.rp-media img {
  width: 100px;
  border-radius: 50%;
  margin-top: -20px;
}

.rp-media-body {
  padding: 10px 3px;
}

.rp-caption p {
  font-size: 14px;
  margin: 0 0 15px;
  color: #8b8b8b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
}

.rp-caption h5 {
  font-size: 16px;
  line-height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.rp-media-body h5 {
  color: #d07016;
  margin-bottom: 0px;
}

footer {
  background: #262626;
  min-height: 700px;
  /* padding: 10px 0px 60px 0px; */
}

.footer-contact {
  display: flex;
  /* grid-template-columns: repeat(3,1fr); */
  padding: 50px 100px;
  gap: 55px;
  justify-content: center;
}
.footer-contact .footer-cont-child img {
  height: 45px;
}

.footer-contact .footer-cont-child {
  display: flex;
  gap: 15px;
}

.footer-contact .footer-cont-child .footer-media-body {
  line-height: 30px;
  color: #edf2f4;
}
h5 a {
  font-size: 20px;
  text-decoration: none;
  color: #edf2f4;
}
.line-one {
  border-color: rgba(94, 87, 87, 0.35);
  width: 900px;
  margin: -15px 210px;
}

.footer-banner {
  display: flex;
  margin: 80px 210px;
  gap: 90px;
}
.footer-child img {
  width: 200px;
}
.footer-child {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-child p {
  color: white;
}
.footer-child-two {
  display: flex;
  gap: 70px;
}
.footer-child ul li {
  list-style: none;
}

.footer-col {
  line-height: 30px;
}
.footer-col ul {
  margin-top: 25px;
}
.footer-col ul li {
  list-style: none;
}
.footer-col ul li a {
  text-decoration: none;
  color: #edf2f4;
}
.footer-col h5 {
  color: #d0ae16;
  font-size: 17px;
  text-transform: capitalize;
}
.footer-col-2 ul li {
  list-style: none;
}
.footer-col-2 a img {
  width: 70px;
}
.media-media {
  display: flex;
  gap: 15px;
}
.media-media a {
  font-size: 14px;
  color: #fff;
  margin-bottom: 0px;
  line-height: 20px;
}
.footer-col-2 h5 {
  color: #d0ae16;
  font-size: 17px;
  text-transform: capitalize;
}
.footer-col-2 ul {
  margin-top: 25px;
}
.footer-line {
  border-color: rgba(94, 87, 87, 0.35);
  width: 900px;
  margin: -15px 210px;
}
.footer-bottom {
  display: flex;
  margin: 70px 199px;
  justify-content: space-between;
}

.footer-bottom p a {
  color: white;
  text-decoration: none;
}

.footer-bottom p {
  color: white;
}
.bottom-column .footer-terms {
  display: flex;
  gap: 30px;
}
.bottom-column .footer-terms li a {
  list-style: none;
  color: white;
  text-decoration: none;
}
.bottom-column .footer-terms li {
  list-style: none;
}
@media (max-width: 768px) {
  .hamburger-menu {
    display: flex;
  }

  .service-container {
    grid-template-columns: 1fr;
  }

  .part-1 img {
    height: 20px;
  }
  .sub-header-header2 {
    display: none;
  }
  .primary-header ul {
    display: none;
  }
  .bg .intro-2 {
    display: none;
  }
  .bold h1 {
    font-size: 20px;
    line-height: 25px;
  }
  .bg .intro-1 .bold {
    border-left: none;
  }
  .bg {
    min-height: 700px;
  }
  .intro-1 {
    margin-top: -100%;
    margin-left: -30px;
  }
  .intro-1 h1 {
    margin-left: -30px;
  }
  .intro-1 p {
    margin-left: -30px;
  }
  .part-1 {
    height: 450px;
    /* margin-left:0%; */
  }
  .part-1 img {
    height: 350px;
    /* width:100%; */
    /* position: absolute; */
    object-fit: contain;
  }
  .container-2 {
    overflow: hidden;
    justify-content: center;
    flex-flow: column;
    gap: 0px;
    margin-left: -70px;
  }
  .rectangle {
    display: flex;
  }
  .body h5 {
    font-size: 5px;
  }
  .shape-rectangle .rectangle img {
    width: 45px;
  }
  .section-1 img {
    /* margin-top: -80px; */
    height: 490px;
    /* position: relative; */
  }
  .section-2 {
    height: 300px;
    position: absolute;
    margin-top: -500px;
  }
  .empty {
    flex-direction: column;
  }
  .carouse {
    display: grid;
    grid-template-columns: repeat(1fr);
    height: 1800px;
  }

  .testimonial-container {
    gap: 30px;
    padding-bottom: 59px;
    align-items: center;
    justify-content: center;
  }
  .recent-container {
    display: flex;
    flex-flow: column;
    margin-left: -20px;
  }
  .footer-contact {
    grid-template-columns: repeat(1fr);
    display: grid;
    margin-left: -70px;
  }
  .line-one {
    border-color: rgba(94, 87, 87, 0.35);
    width: 300px;
    margin: -15px 40px;
  }
  .footer-banner {
    display: grid;
    grid-template-columns: repeat(1fr);
    margin: 25px;
  }
  .footer-line {
    border-color: rgba(94, 87, 87, 0.35);
    width: 300px;
    margin: -15px 40px;
  }
  .footer-bottom {
    flex-direction: column;
    margin-left: -50px;
  }
  .footer-copyright {
  }
  .footer-copyright p {
    width: 400px;
    margin: 0 60px;
    line-height: 30px;
    text-align: center;
  }
  .bottom-column {
    margin: 0 80px;
  }
  .content h5 {
    margin: 0 5%;
  }
  .content h2 {
    margin: 0 5%;
  }
  .content p {
    margin: 0 5%;
  }
  .block-layer {
    margin: 0 5%;
  }
  .admin-card {
    /* width: 200px; */
  }
  footer {
    padding-bottom: 30px;
  }
  .footer-child-two {
    flex-direction: column;
  }
  .score-block {
    gap: 40px;
  }
  /* .score-block .counter {
    margin-top: -70px;
  } */
  .testimonial-layer{
    padding: 50%;
  }
  
.counter{
  display: flex;
  flex-flow: column;
  /* gap: 50px; */
}
/* .text-counter{
  margin-top: 90px;
} */

}
